{
  "": {
    "enabled": true,
    "registry-id": "{{ logos_node_delivery_rln_registry_id }}",
    "epoch-size-sec": {{ logos_node_delivery_rln_epoch_size_sec }},
    "enable-validation": {{ logos_node_delivery_rln_validation_enabled | bool | to_json }}
  }
}
